html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
}

pre {
    width: 100%;
    white-space: pre;
}
