html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
}

pre {
    width: 100%;
    white-space: pre;
}

blockquote {
    border-left: 1px solid gray;
    margin: 1rem;
    padding-left: 1rem;
    font-family: serif;
}

blockquote p {
    margin: 1rem 0;
}

hr {
    margin: 3rem 0;
}
