---
import Base from "@layouts/base.astro"
import Prose from "@components/prose.astro"
import Dragonfly from "@components/dragonfly.astro"
import Spinner from "@components/spinner.tsx"
import { getCollection } from 'astro:content';

const posts = await getCollection('blog')
const now = await getCollection('now')
const recent = now!!.pop()
const { Content, headings } = await recent!!.render();
---

<Base>
<div class="flex flex-col gap-9">
    <blockquote class="text-xs not-italic">
        <ul>
            <li>i'm mina (juwee on x)</li>
            <li>nlp, recsys, swe generalist</li>
            <li>always trying something new</li>
        </ul>
    </blockquote>
    <div class="dragonfly dark:text-zinc-500 text-zinc-600">
        <Dragonfly />
    </div>

    <div>
        <Spinner client:load />
        <ul class="grid grid-cols-2 gap-3 mt-3">
            <li class="border border-zinc-300 dark:border-zinc-700 p-3">
                <a href="/">
                    <div class="text-lg">rkive</div>
                    <p class="mt-3 text-sm">what is this??? soon :)</p>
                </a>
            </li>
            <li class="border border-zinc-300 dark:border-zinc-700 p-3">
                <a href="https://forest.juw.ee">
                    <div class="text-lg">forest</div>
                    <p class="mt-3 text-xs">aka a guilt-free place where i publish my notes</p>
                </a>
            </li>
        </ul>
    </div>

    <ul class="flex flex-col">
        <h1 class="border-t border-b my-3 p-1 text-sm border-zinc-300 dark:border-zinc-700">INDEX</h1>
        <div class="grid grid-cols-2 lg:grid-cols-3">
            <div>
                <a href="/links">
                    <li>[001] links</li>
                </a>
                <a href="/library">
                    <li>[002] library</li>
                </a>
                <a href="/uses">
                    <li>[003] uses</li>
                </a>
            </div>
        </div>
    </ul>

    <ol class="list-circle">
        <h1 class="border-t border-b my-3 p-1 text-sm border-zinc-300 dark:border-zinc-700">LATEST POSTS</h1>
        {
        posts.map(p => (
        <a href={"blog/" + p.slug}>
            <li class="grid grid-cols-2 cursor-pointer gap-5">
                <p class="hover:font-bold">{p.data.title}</p>
                <p class="text-end">{p.data.date}</p>
            </li>
        </a>
        ))
        }
    </ol>

    <div class="my-9 font-['TT2020'] text-sm md:flex gap-3 p-7 bg-zinc-50 dark:bg-zinc-900 dark:text-white">
        <p class="min-w-max">recently, </p>
        <div>
            {
            <p>{recent!!.data.title} {recent!!.data.day}</p>
            <Content />
            }
        </div>
    </div>
</div>
</Base>

<style>
    a {
        width: max-content;
    }

    a:hover {
        font-weight: bold;
    }

    .dragonfly {
        width: 100%;
        display: grid;
        overflow: hidden;
        text-align: center;
        font-size: 75%;
    }
</style>
