---
import Base from "@layouts/base.astro"
import Prose from '@components/prose.astro';
import { getCollection, getEntry } from 'astro:content';

const title = "now"

const allNowPosts = await Astro.glob("../content/now/*.md")
const nowPosts = allNowPosts.map(n => ({
title: n.frontmatter.title,
day: n.frontmatter.day,
Content: n.Content
})).reverse();
---

<Base title={title}>
<h1 class="text-7xl font-bold my-9 font-serif font-['TT2020'] italic">{title}</h1>
<Prose>
    {
    nowPosts.map(({title, day, Content}) => (
    <div>
        <hr class="my-6 dark:border-zinc-700">
        <h2>{title} {day}</h2>
        <Content />
    </div>
    ))
    }
</Prose>
</Base>
