---
import Base from "@layouts/base.astro"
---

<Base>
<h1 class="text-3xl font-bold font-serif my-9">uses</h1>
<p>
    where i share the tools that make up my daily driving machine. (soon)
</p>
</Base>
