---
---
<div class="
    prose-h1:font-['TT2020'] prose-h1:font-bold prose-h1:text-5xl prose-h1:italic
    prose-h2:font-['TT2020'] prose-h2:font-bold prose-h2:text-3xl 
    prose-h3:font-bold prose-h3:text-2xl prose-h3:mt-12 
    prose-ul:font-['TT2020'] prose-ul:list-disc prose-ul:ml-6
    prose-p:mt-6 prose-p:font-['TT2020'] 
    prose-blockquote:font-sans prose-blockquote:italic 
    prose-a:underline 
    ">
    <slot />
</div>
