---
import "@styles/global.css"
const { title } = Astro.props
---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>juwee {title && "| " + title}</title>
</head>

<body class="dark:bg-zinc-950 dark:text-zinc-300 bg-zinc-100 text-zinc-900">
    <div id="wrapper">
        <nav class="flex justify-between items-center w-full cursor-pointer select-none">

            <a href="/" class="font-bold text-lg">juw.ee</a>
            <div class="flex gap-9 items-center">
                <a href="/now" class="text-lg hover:font-bold">now</a>
                <div id="switch" class="text-3xl">○</div>
            </div>
        </nav>
        <slot />
        <footer>
            <p class="my-12">. -. -..</p>

            <ul>
                <li><a href="mailto:mail@juw.ee?subject=hello!">mail@juw.ee</a></li>
                <li><a href="https://github.com/juweeism">github</a></li>
                <li><a href="https://twitter.com/juweeism">twitter</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>

<style>
    li {
        text-decoration: underline;
    }

    li:hover {
        font-weight: bold;
    }

    #switch {
        font-family: serif;
    }
</style>

<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
    })();

    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }

    window.localStorage.setItem('theme', theme);

    const handleToggleClick = () => {
        const element = document.documentElement;
        element.classList.toggle("dark");

        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    }

    document.getElementById("switch").addEventListener("click", handleToggleClick);
</script>
